      <div class ="well well-small">
                
             <%= form_for(:session, url: sessions_path) do |f| %>

                      <legend>
                            <a class ="lead">Sign in</a>
                      </legend>
                      <div class="divider"></div>

              <%= f.text_field :email, class: "input block level",placeholder: "email" %>

              <%= f.password_field :password, class: "input block level", placeholder: "password" %>

              <%= f.submit "Sign in", class: "btn btn-small btn-info" %>

            <ul>

              <small>Sign in with:</small>

              <li><%= link_to 'Facebook','/auth/facebook' %></li>
              <li><%= link_to "Twitter", "/auth/twitter" %></li>
              <li><%= link_to "Google", "/auth/google" %></li>
              <li><%= link_to "MyOpenID", "/auth/myopenid" %></li>
              <li><%= link_to "Other", "#" %></li>
            </ul>
            <% end %>

      </div>
                
  