
<div class="wraparound-shoot shoot<%=shoot_feed_item.id%>">


    <div class="vote">
 
        <% if current_user.praised?(shoot_feed_item) %>

        <div class="pull-right">
            <i class="icon-thumbs-up pull-left"></i>
            <div style="display:inline-block"><%= shoot_feed_item.praises.count %> </div>
        </div>


        <% else %>
            <%= form_for current_user.praises.build(:user_id => current_user.id, :shoot_id => shoot_feed_item.id), :remote => true do |f| %>
                <%= f.hidden_field :user_id %>
                <%= f.hidden_field :shoot_id %>
              <%= f.submit "vote up", :class => "btn btn-small pull-right", :style => "margin-left:10px"%>
              
            <% end %>    

        <% end %>
    </div>

    <i class="press icon-lightbulb icon-2x pull-left"></i>

    <div class="lead"><%= raw shoot_feed_item.content %></div>



    <small class="pull-right">Tipped by 
        <% if User.find(shoot_feed_item.user_id) == current_user %>
            you 
        <% else %>
        <%=User.find(shoot_feed_item.user_id).name%> 
        <% end %>
        <%= time_ago_in_words(shoot_feed_item.created_at) %> ago.        
    </small>
    <br>
    
     <div class="praiserlist pull-right">
        <% unless shoot_feed_item.praises.empty? %>
            <small>
                <% shoot_feed_item.praises.each do |f| %>
                <%= User.find_by_id(f.user_id).name %> - 
                <% end %> voted it up
            </small>
        <% end %>
    </div> 



</div>



          
<script>

    $(".new_praise").bind('ajax:beforeSend', function(){
      console.log("beforeSend");
    });


    $(".new_praise").bind('ajax:success', function(){
      console.log("successful");
    });


    $(".new_praise").bind('ajax:complete', function(){
      console.log("complete");
    });

   $(".new_praise").bind('ajax:error', function(){
      console.log("errr");
    });

  

</script>
