<li>
<div class= "wolf<%=wolf_feed_item.id%>">
    <!--event summary -->

    <blockquote>
    
    <p><%= wolf_feed_item.content %></p>

    <small>Posted by <i class="icon-user"></i> 
        <% if User.find(wolf_feed_item.user_id) == current_user %>
            <span class="label label-info">you</span>
        <% else %>
        <%=User.find(wolf_feed_item.user_id).name%>
        <% end %>
    <i class="icon-time"></i>
    <%= time_ago_in_words(wolf_feed_item.created_at) %> ago.
    <i class="icon-fire"></i> 
    <%= wolf_feed_item.smokers.count - 1%> spreads 
    </small>
    <%=link_to "detail", wolf_feed_item%>
    </blockquote>


    <!--event summary -->

    <!--event alerts-->
    <div class="alert alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <i class="icon-info-sign"></i>
      Alert: e.g. root message, admin update, status update etc. broadcast to event x smoker 
    </div>

    <div class="anchor">
    <!-- anchor point to enalbe click whole field instead of click detail link in the future -->
    </div>

    <!--event alerts-->




</div> <!--end of wolf-->
 
    <script>

        //script for click whole area
        $(".wolf<%=wolf_feed_item.id%>").click(function(){
            $('.anchor').load();
        console.log("Handler for .click() called. <%=wolf_feed_item.id%>");
        });

    </script>


</li>



