
<li>

    <div class= " wolf<%=wolf_feed_item.id%>">
        <!--event summary -->
        <div class="wolf_content">
            <blockquote>
            <i class="icon-quote-left icon-4x pull-left icon-muted"></i>

            <p><%= raw wolf_feed_item.content %></p>

            <%=link_to "detail", wolf_feed_item%>
            
            </blockquote>

            <div class="thing-status red">
                <%= wolf_feed_item.smokers.count - 1%>
            </div>
            <div class="thing-status blue">
                <%= wolf_feed_item.shoots.count %>
            </div>
            <div class="thing-status green">
                <%= wolf_feed_item.praises.count %>
            </div>

            <!--event summary -->


            <div class="anchor">
            <!-- anchor point to enalbe click whole field instead of click detail link in the future -->
            </div>

            <!--event alerts-->
        </div>


        <div class="wolf_status<%=wolf_feed_item.id%>">

                        <!--bloated status display-->
            <small>Posted by <i class="icon-user"></i> 

                <% if User.find(wolf_feed_item.user_id) == current_user %>
                    <span class="label label-info">you</span>
                    <i class="icon-time"></i>
                    <%= time_ago_in_words(wolf_feed_item.created_at) %> ago.<br>
                <% else %>

                    <%=User.find(wolf_feed_item.user_id).name%>
                    <i class="icon-time"></i>
                    <%= time_ago_in_words(wolf_feed_item.created_at) %> ago.<br>

                        <%if current_user.smoked?(wolf_feed_item)%>
                            <i class="icon-bullhorn"></i>
                            you spreaded it @ level <%=current_user.smoked?(wolf_feed_item).level%> 
                            from <%=current_user.smoked?(wolf_feed_item).parent_smoke.user.name%>
                            

                            <i class="icon-time"></i>
                            <%= time_ago_in_words(current_user.smoked?(wolf_feed_item).created_at) %> ago. <br>

                            <i class="icon-link"></i> chain start from
                            <% current_user.smoked?(wolf_feed_item).user_chain.each do |f| %>
                            <div class = "name" style="display:inline" data-name=<%= f.name %>><%= f.name %></div> <i class="icon-angle-right"></i>
                            <% end %>
                            to you. </br>

                        <% end %>



                <% end %>



                <%if current_user.smoked?(wolf_feed_item)%>

                    <i class="icon-fire"></i> 
                    <%= wolf_feed_item.smokers.count - 1%> total spreads for the event, 
                    <%= current_user.smoked?(wolf_feed_item).descendents_all_user_ids.length%> people spreads from you. <br>
                    
                    <%unless current_user.smoked?(wolf_feed_item).descendents_all_user_ids.length == 0%>
                        <i class="icon-group"></i>
                        you have enlisted spreads from: 
                        <% current_user.smoked?(wolf_feed_item).descendents_all_user_ids.each do |f| %>
                        <div class = "name" style="display:inline" data-name=<%= User.find_by_id(f).name %>><%= User.find_by_id(f).name %></div>  - 
                        <% end %><br>
                    <% end %>


                    <%unless current_user.smoked?(wolf_feed_item).siblings_user_ids.length == 0%>
                        <i class = "icon-cloud"></i>
                        people you might know who also spreaded:
                        <% current_user.smoked?(wolf_feed_item).siblings_user_ids.each do |f| %>
                        <div class = "name" style="display:inline" data-name=<%= User.find_by_id(f).name %>><%= User.find_by_id(f).name %></div>  - 
                        <% end %><br>
                    <% end %>


                <% end %>

                <i class="icon-lightbulb"></i> 
                <%= wolf_feed_item.shoots.count %> answers provided, by:
                <% wolf_feed_item.shoots.each do |f|%>
                <div class = "name" style="display:inline" data-name=<%= User.find_by_id(f.user_id).name %>>
                <%= User.find_by_id(f.user_id).name %> </div>
                (
                <%= f.praises.count%>
                 ) -
                <% end %> <br>


                <% if current_user.wolf_shot?(wolf_feed_item) %>
                <i class="icon-check"></i> you have answer the question, <i class="icon-time"></i>
                <%= time_ago_in_words(current_user.wolf_shot?(wolf_feed_item).created_at) %> ago. <br>
                <% else %>
                <i class="icon-check-empty"></i> you have not yet answered the question. <br>
                <% end %>

                <% if current_user.smoked?(wolf_feed_item) %>
                <i class="icon-qrcode"></i>
                your key: <%= current_user.smoked?(wolf_feed_item).url_token%></br>
                <% end %>
            </small>

        </div>
    </div> <!--end of wolf-->

     
        <script>

            //script for click whole area
            $(".wolf<%=wolf_feed_item.id%>").click(function(){
                $('.anchor').load();
            console.log("Handler for .click() called. <%=wolf_feed_item.id%>");
            });

            var config = {    
                over: function() {
                    $('.wolf_status<%=wolf_feed_item.id%>').slideDown();
                    //$('textarea').transition({height: "10em", delay:500}, 500);
                }, // function = onMouseOver callback (REQUIRED)   

                 timeout: 50, // number = milliseconds delay before onMouseOut    
                 interval: 700,
                 out: function() {
                    $('.wolf_status<%=wolf_feed_item.id%>').slideUp();
                    //$('textarea').transition({height: "3em"}, 500);
                } // function = onMouseOut callback (REQUIRED)    
            };

   

            $('.wolf<%=wolf_feed_item.id%>').hoverIntent(config);


        </script>


</li>



