  

    <div class="item post">
      <div class="inner">
        <div class="timestamp"> <%=smoke.created_at %> </div>
        <div class="time"> <%=smoke.created_at.strftime("%H:%M:%S") %> </div>
        <div class="timeago">spreaded <%= time_ago_in_words(smoke.created_at) %> ago.</div>

        <div class="body">
          <div class="token">url_token: <%= smoke.url_token %></div>
          <div class="parent">from <%= smoke.parent_user.name %></div>
          <div class="smoker">by <%= smoke.user.name %></div>
<!-- url updated by simon. now we can mask the actual smoke id -->
          <div class="url"><%= URI.parse(url_for(:only_path => false)).host + "/spread/" + smoke.url_token %></div>
        </div>
      </div>
    </div>


