

    <div class ="notice_board">


              <div class="wraparound">
                <i class="press icon-bullhorn icon-3x pull-left"></i>
                <p class="lead">Help <%=@wolf.user.name%> expand the search network and win the reward togather with your friends</p>
                <h4 class="pull-right">Reward is <%= @wolf.reward %></h4>
              </div>

              <div class="message">
              <h4><%= @wolf.title %></h4>
              <br><br>
              <%=raw @wolf.content%>
              </div>

              <i class="press icon-qrcode icon-3x pull-left icon-muted"></i>
              <div class="titlearea">
                    <h2>QR code</h2>
              </div>


              <div class="qrcode">
                <%= raw @qrsvg %>
              </div>

              <i class="press icon-info-sign icon-3x pull-left icon-muted"></i>
              <div class="titlearea">
                    <h2>What to do next</h2>
              </div>


              <div class= "howto">
                <p></p>
                <p class="lead">Mobilize online </p>


                <p>Reward will be given not only to he who finds it, but also the whoever help to connect the chain along the way. </p><br>

                <p> Let's say <%=@wolf.user.name%> put a reward of $ 500. If you help to send the request to Fasil, and Fasil twitted it to his friend Roland and luckily Roland find it!  <%=@wolf.user.name%> will pay Roland $ 500, Fasil $250 and you $125. </p></br>

                <p> So start ask people to join your search network through this link <code><%=@url %></code>. <br><br>

                <p> Asking <strong>personally</strong> and <strong>nicely</strong> for help is always more effective than broadcast and spam. </p><br>


                <p class="lead">Mobilize through poster</p>

                <p>Print out this page, the QR code is the link to your search network.</p><br>

                <div class="poster">

                <i class="press icon-bullhorn icon-2x pull-left"></i>
                <p class="lead">“Life is like riding a bicycle. To keep your balance, you must keep moving.” </p>



                </div>


              </div>




    </div>


