
              <!--tab-->
              <div class="tabbable tabs-top">

                  <!--tab nav-tab -->
                  <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a href="#details<%=@wolf.id%>"><i class="icon-lightbulb"></i></a></li>
                    <li><a href="#geo<%=@wolf.id%>"><i class="icon-map-marker"></i></a></li>
                    <li><a href="#messages<%=@wolf.id%>"><i class="icon-comments-alt"></i></a></li>
                    <li><a href="#timeline<%=@wolf.id%>"><i class="icon-time"></i> </a></li>
                    <li><a href="#team<%=@wolf.id%>"><i class="icon-group"></i> </a></li>
                    <li><a href="#network<%=@wolf.id%>"><i class="icon-sitemap"></i></a></li>
                    <li><a href="#endorsement<%=@wolf.id%>"><i class="icon-heart"></i></a></li>
                    <li><a href="#reply<%=@wolf.id%>"><i class="icon-file-alt"></i></a></li>
                    <li><a href="#validation<%=@wolf.id%>"><i class="icon-legal"></i></a></li> 
                    <li><a href="#reward<%=@wolf.id%>"><i class="icon-gift"></i></a></li>
                    <li><a href="#setting<%=@wolf.id%>"><i class="icon-cogs"></i></a></li>
                  </ul><!--tab nav-tab end-->



                  <!--tab content -->
                  <div class="tab-content wolf_details">

                      <div class="tab-pane small active" id="details<%=@wolf.id%>">

                        <%= render 'shoot'%> 

                      </div>



                      <div class="tab-pane" id="geo<%=@wolf.id%>">
                    	  geo
                      </div>

                      <div class="tab-pane " id="messages<%=@wolf.id%>">
                    	message
                      </div>

                      <div class="tab-pane " id="timeline<%=@wolf.id%>" style =" min-height: 400px;">
                    	 <%= render 'timeline'  %>

                      </div>

                      <div class="tab-pane " id="team<%=@wolf.id%>">
                    	 <%= render 'team'%>
                      </div>

                      <div class="tab-pane " id="network<%=@wolf.id%>">

                    	  <%= render 'network'%>
                      </div>

                      <div class="tab-pane " id="endorsement<%=@wolf.id%>">
                    	endorsement
                      </div>

                      <div class="tab-pane " id="reply<%=@wolf.id%>">
                    	reply
                      </div>

                      <div class="tab-pane " id="validation<%=@wolf.id%>">
                    	validation
                      </div>


                      <div class="tab-pane " id="reward<%=@wolf.id%>">
                    	reward
                      </div>

                      <div class="tab-pane " id="setting<%=@wolf.id%>">
                    	setting
                      </div>
                  </div><!--tab content end-->
               
                  <script>
                      $('#myTab a').click(function (e) {
                        e.preventDefault();
                        $(this).tab('show');
                      })

                  </script>

              </div><!--tab end -->



