

    <div class ="notice_board">

      <%= form_for(@wolf) do |f| %>

        <%= render 'shared/error_messages' , object: f.object%>

              <i class="press icon-file-alt icon-3x pull-left icon-muted"></i>
              <div class="titlearea">
                    <h2>Write a description</h2>
              </div>

              <%= f.text_area :content, rows: "30", cols: "14", class: "redactor", placeholder: "what you are looking for ... ?" %>
              
              <i class="press icon-magnet icon-3x pull-left icon-muted"></i>
              <div class="titlearea">
                    <h2>Put up a reward</h2>
              </div>

              <%= f.text_field :reward, class: "input", placeholder: "$500 or 500 free beer" %>

              <i class="press icon-qrcode icon-3x pull-left icon-muted"></i>
              <div class="titlearea">
                    <h2>Generate the token</h2>
              </div>

              <div class="buttomcontainer">
              <%= f.submit "Generate Search Token", class: "buttom"%>
              </div>

      <% end %>

    </div>


