

    <div class ="notice_board">


              <div class="wraparound">
                <i class="press icon-bullhorn icon-3x pull-left"></i>
                <p class="lead">Help <%=@wolf.user.name%> to expand the search network</p>
                <h4 class="pull-right">Reward is <%= @wolf.reward %></h4>
              </div>

              <div class="message">
              <h4><%= @wolf.title %></h4>
              <br><br>
              <%=raw @wolf.content%>
              </div>

              <div class="shoot_feed"%>
              <%= render 'shared/shoot_feed' %>
              </div>

              <i class="press icon-qrcode icon-3x pull-left icon-muted"></i>
              <div class="titlearea">
                    <h2>QR code</h2>
              </div>


              <div class="qrcode">
                <%= raw @qrsvg %>
              </div>

              <i class="press icon-info-sign icon-3x pull-left icon-muted"></i>
              <div class="titlearea">
                    <h2>How does this work</h2>
              </div>



              <div class= "howto">
                <p></p>
                <p class="lead">Reward allocation</p>

                <p> Say the reward is $1000. If you help to send the request to John, and John signed up and twitted it to his friend Roland and (finger crossed) Roland found what <%=current_user.name%> were looking for (hooray!). Roland will receive $500, John will receive $250 and you will recieve $120. </p>

                <br>

                <p class="lead">Spread the words</p>


                <p> Help to get the message out on facebook, twitter, email, blog, craigslist.</p>
                <p> Inludes this link  <code> <%=@url%> </code> and state the reward. </p>
                <p> Or you can simply print out this page and post it somewhere, the QRcode is the link to your page </p> <br>


                <p class="lead">Monitor the progress</p>


                <p> After you sent out invitations, you can monitor the development of your network from your home page. </p>
                <p> If someone in your network submit a lead, the whole team of helpers lead up to that person will be informated. Everyone will able to vote on the lead according to its relevance.</p>

                <br><br>



                <!-- this section should be hidden for owner of the wolf -->
                <% unless @wolf.user == current_user %>
                
                  <div class="titlearea">
                      <h2>Submit a tip</h2>
                  </div>
                  
                  <%= render 'shared/shoot', :smoke => @smoke %>
            
                <% end %>

                <br><br>


                <div class="poster">

                <i class="press icon-bullhorn icon-2x pull-left"></i>
                <p class="lead">“Life is like riding a bicycle. To keep your balance, you must keep moving.” </p>



                </div>


              </div>



    </div>
