            <div class ="well well-small wolf-list">
                

              <%= form_for(@wolf) do |f| %>

              <%= render 'shared/error_messages' , object: f.object%>

                        <legend>
                            <a class ="lead"> Ask a question </a><br> 
                            <small>and get answer from friend's friends
                            </small><code>?</code>

                        </legend>

                        <div class="divider"></div>

                  <div class="field">
				          <%= f.text_area :content, placeholder: "喊两嗓子" %>
				          </div>

                  <code><%= link_to "URL to this event?", event_path %></code>

                <%= f.submit "Ask", class: "btn btn-primary btn-success wolf_submit pull-right" %>
              <% end %>
                
            </div>

  <script>

   $('form').hover(
      function() {
        
        $('textarea').transition({height: "10em", delay:500}, 1000);
        $(this).closest('form').find('input[type="submit"]').show();
      },
      function() {
        $('textarea').transition({height: "3em"}, 1000);
        $(this).closest('form').find('input[type="submit"]').hide();

    });

   // $('textarea').blur(function() {
   //   $(this).closest('form').find('input[type="submit"]').show();
   //   $('textarea').animate({height: "3em"}, 750);
   // });


</script>