
<div class="offset1 span4">

    <div class ="notice_board">

      <%= form_for(@wolf) do |f| %>

        <%= render 'shared/error_messages' , object: f.object%>

              <i class="press icon-file-alt icon-3x pull-left icon-muted"></i>
              <div class="titlearea">
                    <h2>Write a description</h2>
              </div>

              <%= f.text_field :title, class: "input", placeholder: "Add a title in less than 140 characters" %>
              <%= f.text_area :content, rows: "30", cols: "14", class: "redactor", placeholder: "when/where/what/do not leave contact information here/put reward in separate row" %>
              
              <i class="press icon-magnet icon-3x pull-left icon-muted"></i>
              <div class="titlearea">
                    <h2>Put up a reward</h2>
              </div>

              <%= f.text_field :reward, class: "input", placeholder: "$500 or 500 free beer" %>

              <i class="press icon-qrcode icon-3x pull-left icon-muted"></i>
              <div class="titlearea">
                    <h2>Generate the token</h2>
              </div>

              <div class="buttomcontainer">
              <%= f.submit "Generate Search Token", class: "buttom"%>
              </div>

      <% end %>

    </div>

</div>



<div class="offset1 span4">

    <div class ="notice_board">


              <div class="wraparound">
                <i class="press icon-bullhorn icon-3x pull-left"></i>
                <p class="lead">Call up your friends to help <%=current_user.name%> and earn the reward togather</p>
                <h4 class="pull-right">Reward is <div style="display:inline" id="reward"><div></h4>
              </div>
              <br>
              <div class="message">
              <h4><div id ="title"></div></h4>
              <br><br>

              <div id ="content"></div>

              </div>

              <i class="press icon-qrcode icon-3x pull-left icon-muted"></i>
              <div class="titlearea">
                    <h2>QR code</h2>
              </div>


              <div class="qrcode">
                <i class="press icon-qrcode icon-4x" style="padding-right:0"></i>
              </div>

              <i class="press icon-info-sign icon-3x pull-left icon-muted"></i>
              <div class="titlearea">
                    <h2>How to use it</h2>
              </div>


              <div class= "howto">
                <p></p>
                <p class="lead">Mobilize online </p>

                <p> Get the message out on facebook, twitter, email, blog and forum whichever way you think worth pursuing. </p> <br>

                <p> Inludes this link  <code></code> and state the reward. </p><br>

                <p> Ask people <strong>personally</strong> for help is always more effective than broadcast and spam. So <strong> ask people personally</strong> to help you post the message and link on their facebook or retweet it, also forward the email if applicable.</p><br> 

                <p> The incentive structure is what keep your search network growing, so explain it well in your message. The key is reward will be given not only to he who finds it, but also the whoever help to connect the chain along the way. </p><br>

                <p> Let's say you put a final reward of $ 1000. If John help you to send the request to Fasil, Fasil twitted it to his friend Roland and Roland find it. Roland gets $ 500, Fasil gets $250 and John gets $125. Maximum amount you need to pay is $ 1000.</p></br>

                <p> Helpers need to signup through the link to generate their own token and link, ask for token from whoever come to claim the reward.</p><br>

                <p>

                <p class="lead">Mobilize offline</p>


                <p>Print out the page and post it to appropriate place, the QRcode is the link to your search network</p><br>

                <div class="poster">

                <i class="press icon-bullhorn icon-2x pull-left"></i>
                <p class="lead">“Life is like riding a bicycle. To keep your balance, you must keep moving.” </p>



                </div>


              </div>

    </div>

</div>



<script>

$("#wolf_title").keyup(function() {
    console.log("key");
    $("#title").html(this.value);
});
$("#wolf_title").blur(function() {
    $("#title").html(this.value);
});

window.setInterval(function(){
  // keep content in sync
  $("#content").html($("#wolf_content").val());
}, 100);

$("#wolf_reward").keyup(function() {
    $("#reward").html(this.value);
});
$("#wolf_reward").blur(function() {
    $("#reward").html(this.value);
});


</script>
