

    <div class ="notice_board" id="section_to_print" style="width:720px">

    <a HREF="javascript:window.print()">
      <i class="press icon-print icon-2x pull-left"></i>
    </a>

              <div class="wraparound">
                <i class="press icon-bullhorn icon-3x pull-left"></i>
                <p class="lead">Call up your friends to help <%=@wolf.user.name%> and win the reward togather</p>
                <h4 class="pull-right">Reward is <%= @wolf.reward %></h4>
              </div>

              <br><br>
              <div class="message">
              <h4><%= @wolf.title %></h4>
              <br><br>

              <%=raw @wolf.content%>
              </div>

              <i class="press icon-qrcode icon-3x pull-left icon-muted"></i>
              <div class="titlearea">
                    <h2>QR code</h2>
              </div>


              <div class="qrcode">
                <%= raw @qrsvg %>
              </div>

              <i class="press icon-info-sign icon-3x pull-left icon-muted"></i>
              <div class="titlearea">
                    <h2>How does this work</h2>
              </div>



              <div class= "howto">
                <p></p>
                <p class="lead">Reward allocation</p>

                <p> Say the reward is $1000. If Alex help to send the request to John, and John signed up and twitted it to his friend Roland and (finger crossed) Roland found what <%=current_user.name%> were looking for (hooray!). Roland will receive $500, John will receive $250 and Alex will recieve $125. </p>

                <br>

                <p class="lead">Spread the words</p>


                <p> Help to get the message out on facebook, twitter, email, blog, craigslist.</p>
                <p> Inludes this link  <code> <%=@url%> </code> and state the reward. </p>
                <p> Or you can simply print out this page and post it somewhere, the QRcode is the link to your page </p> <br>


                <p class="lead">Monitor the progress</p>


                <p> After you sent out invitations, you can monitor the development of your network from your home page. </p>
                <p> If someone in your network submit a lead, the whole team of helpers lead up to that person will be informated. Everyone will able to vote on the lead according to its relevance.</p>

                <br><br>
                <div class="poster">

                <i class="press icon-bullhorn icon-2x pull-left"></i>
                <p class="lead">“Life is like riding a bicycle. To keep your balance, you must keep moving.” </p>



                </div>


              </div>




    </div>


