<div class = "well well-small">

	<a class ="lead"> Event Details </a>

	<div class="divider"></div>

	<span class="content"><%= @wolf.content %></span>
	<span>Posted by <%= User.find(@wolf.user_id).name %></span>
	<span><%= time_ago_in_words(@wolf.created_at) %> ago.</span>

	<span>spreaded 
	  <strong id="spread_count" class="stat">
	    <%= @wolf.smokes.count %> times.
	  </strong>
	</span>

	<br>

	<a class ="lead"> Spreads </a><br>
	<span class="divider"></span>


	<ol class="smokes">
	  <%= render @wolf.smokes %>
	</ol>
	<%= will_paginate @smokes %>

</div>
